<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  	<servlet-name>add</servlet-name>
  	<servlet-class>com.AddServletPackage.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>add</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>square</servlet-name>
  	<servlet-class>com.AddServletPackage.SqServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>square</servlet-name>
  	<url-pattern>/sq</url-pattern>
  </servlet-mapping>
  
  <!-- 
  <servlet>
  	<servlet-name>context</servlet-name>
  	<servlet-class>com.ServletContextandConfig.ServletContextJava</servlet-class>
  	
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>Vijay</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>context</servlet-name>
  	<url-pattern>/ctx</url-pattern>
  </servlet-mapping>
  
   -->
  
  <!-- 
  <servlet-mapping>
  	<servlet-name>config</servlet-name>
  	<url-pattern>/config</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>config</servlet-name>
  	<servlet-class>com.ServletContextandConfig.ServletConfigJava</servlet-class>
  	
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>Vijay</param-value>
  	</init-param>
  </servlet>
   -->
 
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Sanskar</param-value>
  </context-param>
  
  <context-param>
  	<param-name>phone</param-name>
  	<param-value>Redmi</param-value>
  </context-param>
</web-app>